/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* General Styles */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    background-color: #f8f9fa; /* Opcional: color de fondo del footer */
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

/* Navbar */
.navbar {
    padding: 15px;
}

    .navbar .nav-link {
        color: #343a40;
        font-weight: 500;
    }

        .navbar .nav-link:hover {
            color: #007bff;
        }

/* Hero Section */
.feature-card {
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

    .feature-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }

    .feature-card a {
        display: block;
        margin-bottom: 15px;
        font-size: 1.2rem;
    }

/* Map Section */
.container {
    display: flex;
    max-width: 1100px;
}


#navbarSupportedContent {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
/*AGREGADO param PRUEBAS 
.row > div {
    border: 1px solid black;
}

.row {
    border: 1px solid black; 
   
}*/
